@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-plus-jakarta-sans: ar(--font-plus-jakarta-sans);

  --color-green-500: oklch(0.668 0.136 162.84);
  --color-green-600: oklch(0.259 0.041 165.64);
  --color-blue-500: oklch(0.753 0.101 247.2);
  --color-blue-600: oklch(0.254 0.034 247.61);
  --color-red-500: oklch(0.715 0.152 22.09);
  --color-red-600: oklch(0.264 0.062 23.68);
  --color-red-700: oklch(0.652 0.202 27.92);
  --color-light-200: oklch(0.933 0.001 197.14);
  --color-dark-200: oklch(0.167 0.004 229.07);
  --color-dark-300: oklch(0.198 0.008 248.21);
  --color-dark-400: oklch(0.229 0.009 255.6);
  --color-dark-500: oklch(0.346 0.008 240.04);
  --color-dark-600: oklch(0.6 0.022 245.83);
  --color-dark-700: oklch(0.776 0.022 245.93);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  @apply w-full mx-auto px-8 max-w-[87.5rem];
}

@utility remove-scrollbar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

@utility bg-appointments {
  @apply bg-[url('/assets/images/appointments-bg.png')];
}

@utility bg-pending {
  @apply bg-[url('/assets/images/pending-bg.png')];
}

@utility bg-cancelled {
  @apply bg-[url('/assets/images/cancelled-bg.png')];
}

/* UTILITIES */
@utility sidebar {
  @apply remove-scrollbar w-full max-w-72 flex-col overflow-auto bg-slate-800 px-7 py-10;
}

@utility left-sidebar {
  @apply hidden lg:flex;
}

@utility right-sidebar {
  @apply hidden xl:flex;
}

@utility clip-text {
  @apply bg-clip-text text-transparent;
}

/* @utility bg-image {
  @apply bg-slate-900 bg-light-rays bg-cover bg-no-repeat;
} */

@utility header {
  @apply text-32-bold md:text-36-bold;
}

@utility sub-header {
  @apply text-18-bold md:text-24-bold;
}

@utility container {
  @apply relative flex-1 overflow-y-auto px-[5%];
}

@utility sub-container {
  @apply mx-auto flex size-full flex-col py-10;
}

@utility side-img {
  @apply hidden h-full object-cover md:block;
}

@utility copyright {
  @apply text-14-regular justify-items-end text-center text-dark-600 xl:text-left;
}

/* SUCCESS */
@utility success-img {
  @apply m-auto flex flex-1 flex-col items-center justify-between gap-10 py-10;
}

@utility request-details {
  @apply flex w-full flex-col items-center gap-8 border-y-2 border-dark-400 py-8 md:w-fit md:flex-row;
}

/* ADMIN */
@utility admin-header {
  @apply sticky top-3 z-20 mx-3 flex items-center justify-between rounded-2xl bg-dark-200 px-[5%] py-5 shadow-lg xl:px-12;
}

@utility admin-main {
  @apply flex flex-col items-center space-y-6 px-[5%] pb-12 xl:space-y-12 xl:px-12;
}

@utility admin-stat {
  @apply flex w-full flex-col justify-between gap-5 sm:flex-row xl:gap-10;
}

/* FORM */
@utility radio-group {
  @apply flex h-full flex-1 items-center gap-2 rounded-md border border-dashed border-dark-500 bg-dark-400 p-3;
}

@utility checkbox-label {
  @apply cursor-pointer text-sm font-medium text-dark-700 peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
}

/* FILE UPLOAD */
@utility file-upload {
  @apply text-12-regular flex cursor-pointer  flex-col items-center justify-center gap-3 rounded-md border border-dashed border-dark-500 bg-dark-400 p-5;
}

@utility file-upload-label {
  @apply flex flex-col justify-center gap-2 text-center text-dark-600;
}

/* STAT CARD */
@utility stat-card {
  @apply flex flex-1 flex-col gap-6 rounded-2xl bg-cover p-6 shadow-lg;
}

/* STATUS BADGE */
@utility status-badge {
  @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
}

/* DATA TABLE */
@utility data-table {
  @apply z-10 w-full overflow-hidden rounded-lg border border-dark-400 shadow-lg;
}

@utility table-actions {
  @apply flex w-full items-center justify-between space-x-2 p-4;
}

/* ALIGNMENTS */
@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

/* TYPOGRAPHY */
@utility text-36-bold {
  @apply text-[36px] leading-[40px] font-bold;
}

@utility text-24-bold {
  @apply text-[24px] leading-[28px] font-bold;
}

@utility text-32-bold {
  @apply text-[32px] leading-[36px] font-bold;
}

@utility text-18-bold {
  @apply text-[18px] leading-[24px] font-bold;
}

@utility text-16-semibold {
  @apply text-[16px] leading-[20px] font-semibold;
}

@utility text-16-regular {
  @apply text-[16px] leading-[20px] font-normal;
}

@utility text-14-medium {
  @apply text-[14px] leading-[18px] font-medium;
}

@utility text-14-regular {
  @apply text-[14px] leading-[18px] font-normal;
}

@utility text-12-regular {
  @apply text-[12px] leading-[16px] font-normal;
}

@utility text-12-semibold {
  @apply text-[12px] leading-[16px] font-semibold;
}

/* SHADCN OVERRIDES */
@utility shad-primary-btn {
  @apply bg-green-500! text-white!;
}

@utility shad-danger-btn {
  @apply bg-red-700! text-white!;
}

@utility shad-gray-btn {
  @apply border! border-dark-500! cursor-pointer! bg-dark-400! text-white!;
}

@utility shad-input-label {
  @apply text-14-medium! text-dark-700!;
}

@utility shad-input {
  @apply bg-dark-400! placeholder:text-dark-600! border-dark-500! h-11! focus-visible:ring-0! focus-visible:ring-offset-0!;
}

@utility shad-input-icon {
  @apply bg-dark-400! placeholder:text-dark-600! border-dark-500! h-11! focus-visible:ring-0! focus-visible:ring-offset-0!;
}

@utility shad-textArea {
  @apply bg-dark-400! placeholder:text-dark-600! border-dark-500! focus-visible:ring-0! focus-visible:ring-offset-0!;
}

@utility shad-combobox-item {
  @apply data-[disabled=true]:pointer-events-none! data-[disabled=true]:opacity-50!;
}

@utility shad-combobox-trigger {
  @apply h-11!;
}

@utility shad-select-trigger {
  @apply bg-dark-400!  placeholder:text-dark-600! border-dark-500! h-11! focus:ring-0! focus:ring-offset-0!;
}

@utility shad-select-content {
  @apply bg-dark-400! border-dark-500!;
}

@utility shad-dialog {
  @apply bg-dark-400! border-dark-500!;
}

@utility shad-dialog {
  button {
    @apply focus:ring-0! focus:ring-offset-0! focus-visible:border-none! focus-visible:outline-none! focus-visible:ring-transparent! focus-visible:ring-offset-0!;
  }
}

@utility shad-error {
  @apply text-red-400!;
}

@utility shad-table {
  @apply rounded-lg! overflow-hidden!;
}

@utility shad-table-row-header {
  @apply border-b! border-dark-400! text-light-200! hover:bg-transparent!;
}

@utility shad-table-row {
  @apply border-b! border-dark-400! text-light-200!;
}

@utility shad-otp {
  @apply w-full! flex! justify-between!;
}

@utility shad-otp-slot {
  @apply text-36-bold! justify-center! flex! border! border-dark-500! rounded-lg! size-16! gap-4!;
}

@utility shad-alert-dialog {
  @apply space-y-5 bg-dark-400! border-dark-500! outline-none!;
}

@utility shad-sheet-content {
  button {
    @apply top-2! focus:ring-0! focus:ring-offset-0! focus-visible:border-none! focus-visible:outline-none! focus-visible:ring-transparent! focus-visible:ring-offset-0!;
  }
}

/* REACT PHONE NUMBER INPUT OVERRIDES */
.input-phone {
  @apply mt-2! h-11! rounded-md! px-3! text-sm! border! bg-dark-400! placeholder:text-dark-600! border-dark-500!;
}

/* REACT DATE PICKER OVERRIDES */
.date-picker {
  @apply overflow-hidden! border-transparent! w-full! placeholder:text-dark-600!  h-11! text-14-medium! rounded-md! px-3! outline-none!;
}

/* KEYFRAMES */

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}
